[user]
	name = Lieuwe Rooijakkers
	email = lieuwerooijakkers@gmail.com
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[push]
	default = simple
[credential]
	helper = osxkeychain
[diff]
	algorithm = patience
[merge]
	conflictstyle = diff3
	tool = fugitive
[mergetool "fugitive"]
	cmd = vim -f -c \"Gdiff\" \"$MERGED\"
[git-up "fetch"]
	all = true
[git-up "rebase"]
	arguments = --preserve-merges
[fetch]
	prune = true
[format]
	pretty = fuller
[rebase]
	stat = true
[github]
	user = lieuwex
