[core]
	pager = diff-highlight | less --tabs=4
	excludesfile = ~/.gitignore_global

[user]
	name = Lieuwe Rooijakkers
	email = lieuwerooijakkers@gmail.com
[github]
	user = lieuwex

[alias]
	up = pull --rebase --autostash
	conflicts = diff --name-only --diff-filter=U

[fetch]
	prune = true
[push]
	default = simple

[diff]
	algorithm = minimal
[merge]
	conflictstyle = diff3
[rebase]
	stat = true

[format]
	pretty = fuller
[interactive]
	diffFilter = diff-highlight

[rerere]
	enabled = true
	autoupdate = true

[grep]
	patternType = perl
	fallbackToNoIndex = true

[tag]
	sort = v:refname
