"*":
  "atom-beautify":
    _analyticsUserId: "187bb01e-8a2f-4766-8a65-13feeb2b487a"
  "atom-spotify":
    displayOnLeftSide: false
  "atom-ternjs": {}
  "autocomplete-plus": {}
  "autocomplete-ruby": {}
  core:
    disabledPackages: [
      "terminal-panel"
      "wrap-guide"
    ]
    excludeVcsIgnoredPaths: false
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
  "easy-motion": {}
  editor:
    fontSize: 12
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: false
    softTabs: false
    tabLength: 4
    tabType: "hard"
  "exception-reporting":
    userId: "9cde2665-488e-0b94-858e-3a3318a89833"
  "highlight-line":
    hideHighlightOnSelect: true
  linter:
    statusBar: "Show all errors"
  "linter-csslint": {}
  "linter-golinter": {}
  "linter-jshint": {}
  minimap:
    plugins:
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
  pigments: {}
  "terminal-panel": {}
  "travis-ci-status": {}
  "vim-mode":
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
  "vim-mode-plus": {}
  welcome:
    showOnStartup: false
  "you-complete-me":
    globalExtraConfig: ".ycm_extra_conf.py"
